@font-face {
  font-family: 'Poppins-black';
  src: local('Poppins-Black'),
    url('../../public/fonts/Poppins-Black.woff') format('woff');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Arial';
  background-color: #f1eee9;
  overflow-x: hidden;
}

h1 {
  font-size: 100px;
  margin: 0;
  font-family: 'Poppins-black';
  font-weight: lighter;
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 50px;
  }
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

.navbar {
  border-right: 4px solid #dd403a;
  border-bottom: 4px solid #dd403a;
  transform: rotate(223deg);
}

.navbar.scrollChange {
  border-right: 4px solid #dd403a;
  border-bottom: 4px solid #dd403a;
  transform: rotate(45deg);
}
